<!-- Footer Section -->
<footer class="footer">
  <!-- Container Starts -->
  <div class="container">
    <!-- Row Starts -->
    <div class="row section">
      <!-- Footer Widget Starts -->
      <div class="footer-widget col-lg-6 col-md-6 col-xs-12 wow fadeIn">
        <h3 class="small-title">
         <span class="fa fa-info fa-lg"> About Us </span>
        </h3>
        <h5 style="color:white">
          We solve buisness problems by analyzing provided data of clients. Buisness analyists
        </h5>
        <div class="social-footer">
          <a href="https://www.facebook.com/Al-Khwarizmi-238850290117572"><i class="fa fa-facebook icon-round"></i></a>
          <a href="#"><i class="fa fa-twitter icon-round"></i></a>
          <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
          <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <!-- <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".2s">
        <h3 class="small-title">
          Links
        </h3>
        <mat-list >
          <mat-list-item><a href="#">About Us</a></mat-list-item>
          <mat-list-item><a href="#">Services</a></mat-list-item>
          <mat-list-item><a href="#">Works</a></mat-list-item>
          <mat-list-item><i class ="fa fa-phone"></i><a href="#">  Contact</a></mat-list-item>
        </mat-list>
      </div>
      Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <!-- <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
        <h3 class="small-title">
          Our Sponsors
        </h3>
        <div class="plain-flicker-gallery">
          <a href="#"><img src="/src/assets/images/menu/1000px-JSON_vector_logo.svg.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/2000px-NASA_logo.svg.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/2d2700cbc33a006fc7be45736cb80b07-snapchat-icon-logo-by-vexels.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/kisspng-logos-and-uniforms-of-the-new-york-yankees-new-yor-new-york-giants-5ac718c0027ce0.6378412115229974400102.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/png-logo-design-fancy-png-logo-design-91-on-professional-logo-design-with-png-logo-design-734.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/Pakistan_Army_Emblem.png" alt=""></a>
        </div>
      </div> -->
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <!-- <div class="footer-widget col-lg-6 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".8s">
        <h3 class="small-title">
          SUBSCRIBE US
        </h3>
        <div class="contact-us">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="InputEmail2" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-common">Submit</button>
          </form>
        </div>
      </div> -->
      <div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
        <h3 class="small-title">
          Our Sponsors
        </h3>
        <div class="plain-flicker-gallery">
          <a href="#"><img src="/src/assets/images/menu/1000px-JSON_vector_logo.svg.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/2000px-NASA_logo.svg.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/2d2700cbc33a006fc7be45736cb80b07-snapchat-icon-logo-by-vexels.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/kisspng-logos-and-uniforms-of-the-new-york-yankees-new-yor-new-york-giants-5ac718c0027ce0.6378412115229974400102.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/png-logo-design-fancy-png-logo-design-91-on-professional-logo-design-with-png-logo-design-734.png" alt=""></a>
          <a href="#"><img src="/src/assets/images/menu/Pakistan_Army_Emblem.png" alt=""></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->

  <!-- Copyright -->
  <div id="copyright" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <p class="copyright-text">All copyrights reserved © 2018 - Designed &amp; Developed by Usman Ahmad & Syed Shahrukh Ali
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <ul class="nav nav-inline  justify-content-end ">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms of services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright  End-->
  


<!-- Preloader -->


