<div class="container-fluid css">
  <div class="landing" >
    
    <div class="row  justify-content-around">

      <div class="col-xl-4 col-md-6  " style="color:white">
        <h1>Al-khwarizmi</h1>
        <p> Text Analysis / Text mining, also referred to as text data mining, roughly equivalent to text analytics, is the process of deriving high-quality information from text.
          This <abbr title="Natural language Processing"> <a href="https://en.wikipedia.org/wiki/Natural_language_processing">NLP</a> </abbr> makes your work easier. You can extract key-words, and find sentiments of every thing</p>
      <div></div>
          <div class="col-xl-4 col-md-6 butn">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Try for Demo</button>
          
       </div>
       <div class="col-xl-4 col-md-6 butn ">
          
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up Now</button>
       </div>
      </div>
      <div class="col-xl-4 col-md-6 " style="color:white">
          <img src="/src/assets/images/menu/Menu 1.png" alt="">
      </div>
      

    </div>
    
</div>
  <div class="wrapper">
    <div class="gridDesign1">
      <div class="row borderBottom">
        <div class="col big-box pic">
          <img src="/src/assets/images/menu/NER_189x172.png" alt="NER">

        </div>

        <div class="col">
          <div class="row">
            <div class="col mini-box">
              <h2>NER</h2>
            </div>

          </div>
          <div class="row">
            <div class="col mini-box">Named-entity recognition (NER) is a task of information extraction that seeks to locate and classify named entities e.g names of persons, organizations, locations, expressions of times, quantities, monetary values, percentages, etc.</div>
          </div>
        </div>

      </div>

    </div>
    <div class="gridDesign2">
      <div class="row borderBottom">
        <div class="col big-box pic">
          <img src="/src/assets/images/menu/KWE1_189x172.png" alt="NER">

        </div>

        <div class="col">
          <div class="row">
            <div class="col mini-box">
              <h2>Key Words Extraction</h2>
            </div>

          </div>
          <div class="row">
            <div class="col mini-box">dkjfn m,s snvkd dm,zcvnsnv,msdnv,msc,mxc mddd,dnvdsv,msd c,msdnvdnv,mds
              c,sdvndsdnvmsdvd</div>
          </div>
        </div>

      </div>
    </div>
    <div class="gridDesign3">
      <div class="row borderBottom">
        <div class="col big-box pic">
          <img src="/src/assets/images/menu/concept_taging_189x172.png" alt="Concept Tagging">

        </div>

        <div class="col">
          <div class="row">
            <div class="col mini-box">
              <h2>Concept Tagging</h2>
            </div>

          </div>
          <div class="row">
            <div class="col mini-box">dddddd kvbkje erfkjsdkjbf jm fjsdncsak erf skbf</div>
          </div>
        </div>

      </div>
    </div>
    <div class="gridDesign4">
      <div class="row borderBottom">
        <div class="col big-box pic">
          <img src="/src/assets/images/menu/Sentiment_1_189x172.png" alt="NER">

        </div>

        <div class="col">
          <div class="row">
            <div class="col mini-box">
              <h2>Sentimental Analysis</h2>
            </div>

          </div>
          <div class="row">
            <div class="col mini-box"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
